# Xcode user-specific files
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
